body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background-color: #CCC;
  color:rgb(255, 64, 0);
}

.dark {
  background-color: #fff;
  filter: invert(1);
}
